.hospitalsMainDiv {
  position: relative;
  background: var(--light-blue);
  margin-top: 70px;
}
.searchDiv {
  padding: 20px;
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.hospitalContent {
  width: 80%;
  margin: 100px auto 0;
  padding-bottom: 20px;
}
.message{
    text-align: center;
}
.hospitalCount {
  font-size: 15px;
}
.hospitalSubtitle {
  color: #787887;
  margin-top: 0;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.advertiseImage {
  width: 100%;
}
