.mainHeroCard {
  width: 80%;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 380px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.hedaing{
    font-weight: 500;
    text-align: center;
}
.iconCardDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
