.HospitalMainCard {
  background-color: 10px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.HospitalMainCard:hover{
    border: 1px solid var(--primary-color);
}
.imageContainer {
  padding: 10px;
  background-color: #8bcfff;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  width: 80px;
  height: 80px;
}
.contentContainer{
    flex: 1;
}
.hospitalName {
  color: #14bef0;
  text-transform: capitalize !important;
  font-size: 15px;
  margin-bottom: 0;
}
.hospitalType {
  margin: 0;
  color: #414146;
  font-size: 14px;
}
.free {
  color: #02a401;
}
.amount {
  text-decoration: line-through;
  color: #787887;
}
.bookingButtonDiv {
}
.rating {
  background-color: #02a401;
  color: #fff;
  font-size: 13px;
  padding: 5px 8px;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.bookingButton {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  float: right;
}
