.HospitalMainCard {
  background-color: 10px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.HospitalMainCard:hover {
  border: 1px solid var(--primary-color);
}
.imageContainer {
  padding: 10px;
  background-color: #8bcfff;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  width: 80px;
  height: 80px;
}
.contentContainer {
  flex: 1;
  min-width: 0;
}
.hospitalName {
  color: #14bef0;
  text-transform: capitalize !important;
  font-size: 15px;
  margin-bottom: 0;
}
.hospitalType {
  margin: 0;
  color: #414146;
  font-size: 14px;
}
.free {
  color: #02a401;
}
.amount {
  text-decoration: line-through;
  color: #787887;
}
.rating {
  background-color: #02a401;
  color: #fff;
  font-size: 13px;
  padding: 5px 8px;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.bookingButton {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  float: right;
}
.dateSlider {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.dateContainer {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  width: 100%;
  scroll-behavior: smooth;
}

.dateContainer::-webkit-scrollbar {
  display: none;
}

.dateItem {
  min-width: 140px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

.activeDate {
  border-bottom: 3px solid #2aa7ff;
}

.dateTitle {
  font-weight: 600;
}

.slotText {
  color: green;
  font-size: 14px;
}

.timeSlotContainer {
  margin-top: 20px;
}

.timeSection {
  min-width: 80px;
}

.timeButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}

.timeButton {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}
.timeButton:hover{
    background-color:  var(--primary-color);
    border: none;
    color: #fff;
}
.activeTime{
    background-color:  var(--primary-color);
    border: none;
    color: #fff;
}

.timeAndPeriodDiv {
  display: flex;
  gap: 20px;
}
