.mainNavDiv{
    position: absolute;
    width: 100%;
}
.logoImage{
    width: 100px !important;
}
.pageName{
    text-transform: none !important;
    color: black !important;
}
.buttonLink{
    border: none !important;
    color: white !important;
    background-color: var(--primary-color) !important;
    margin-left: 10px !important;
}