#searchDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}
.state {
  min-width: 30%;
}
.city {
  min-width: 30%;
}
.submitButton {
  background-color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 8px;
  height: 40px;
  margin: auto 0;
  border: none;
}
